li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 3.5rem;
}

body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f3ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
}

.container_counters {
  color: #333;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}
.container_counters ul {
color: #333;
margin: 5px;
}
.para_skills li {
  margin:10px;
border: 1px solid black;
border-radius:5px
}
