@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700");

.generic-container {
  background: white;
  height: 100vh;
}

h1 {
    padding: 15px;
    text-align: center;
    font-size: 2em;
    color: white;
    line-height: 1.4em;
    display: table;
    background: #007aff;
    margin: 30px auto -20px;
    z-index: 9999999;
    position: relative;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}


/*------- core css -------------*/
   html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Raleway, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
/*------------- core css end ----------------------*/

.swiper-container {
  height: auto;
}

.biziq-review {
  padding: 70px 0;
  color: #555;
}

.biziq-review > div {
  max-width: 500px;
  margin: auto;
}

.review-rating svg {
  width: 14px;
  color: gold;
}

div[id*="biziqrecentreviews-"] {
  visibility: hidden;
  transition: .2s ease-in-out;
}

div[id*="biziqrecentreviews-"] .biziq-review > div {
  margin-bottom: 20px;
}

div[id*="biziqrecentreviews-"] .review-info span {
  display: block;
}

div[id*="biziqrecentreviews-"] .review-info .author-name {
  font-size: 1.4em;
  line-height: 1.6em;
  font-weight: 600;
}

div[id*="biziqrecentreviews-"] .review-date {
  opacity: .4;
  font-size: .8em;
}

div[id*="biziqrecentreviews-"] .review-rating {
  margin-bottom: 1em;
}

.swiper-slide {
  background: whitesmoke;
  color: #555;
}