body, html {
  height: 100%;
  margin: 0;
  font-family: Montserrat;
}
.header_main{
  display: flex;
  justify-content: space-around;
}
.contacts_phone{
  padding-top: 1.2rem;
}
.contacts_phone a{
  margin:13px;
  text-decoration:none;
  color: #000000;;
  font-weight: bold;
}
.fa-phone{
  color: blue;
}
.fa-envelope{
  color:red;
}
.contacts_phone a:hover{
  border-bottom: 5px solid red;
}

.main_hero{
background-color: #f8f9fa;
}

.hero {
/* Sizing */
width: 100%;
height: 100vh;

/* Flexbox stuff */
display: flex;
justify-content: center;
align-items: center;

/* Text styles */
text-align: center;
color: rgba(255, 255, 255); /* ADD THIS LINE */

/* Background styles */
/* background-image: url('https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg');
 */
background-image: url('../img/marvin-meyer-SYTO3xs06fU-unsplash.jpg');
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
filter: blur(0.1px);
-webkit-filter: blur(0.1px);
/* opacity: 0.5; */
z-index: -1;
}

.hero h1 {
/* Text styles */
font-size: 3em;

/* Margins */
margin-top: 0;
margin-bottom: 0.5em;
}
.btn_buy h3{
/* font-size:15px; */
}
.hero .btn_buy {
/* Positioning and sizing */
display: block;
width: 200px;


/* Padding and margins */
margin-top: 50px;
margin-left: auto;
margin-right: auto;

/* Text styles */
color: white;
text-decoration: none;
font-size: 1rem;


/* Border styles */
border: 2px solid white;
border-radius: 20px;

/* Background styles */
background-color: red;
}
.hero-title {
  text-align: center;
}
.hero .btn_buy:hover{
  background-color: #850001;
}
.red_date{
  color: red
}
.sell_content{
  text-align: center;
  background-color: #f8f9fa;
}
.sell_content h3{
  font-size: 3rem;
}
.sell_content p{
  font-size:14px,
}
.sell_content_para{
  margin: 80px;
  font-weight:400;
}
.para_skills{
  display: flex;
  direction:rtl;
}
.para_skills li{
  font-size: 1rem;
  text-transform: none;
  background-color: rgba(0, 0, 0);
  color: #fff;
  border-radius :5%;
  cursor: pointer;
}
.para_skills i{
  color: red;
 font-size: 2.5rem;
 margin-top: 25px;

}
.class_benefits{
  text-align: center;
  font-size:3rem
}
/* instructor about  */
.instructor{
text-align: center;
margin: 0 auto;
padding-top: 60px;
display: flex;
background-color:#f8f9fa;
border-radius:10px;
left: 10;
justify-content:space-evenly;
padding-bottom: 50px;
}
.instructor_image img{
  height: 350px;
  width:auto;
  border-radius:50%;
}
.instructor_subHeading {
  color: #fe0000;
}
.instructor_name{
  color: #fe0000;
}
.instructor_about{
  text-align:left;
  display: block;
}
.instructor_about_para{
    width: 100%;
    height: auto;
}
.instructor_about_title{
  font-size:xx-large;
}
.foot-one{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color:#f8f9fa;
  padding:30px
}
.copyright_text{
  font-size: 12px;
  text-align: center;
  background-color:red;
  color:white;
padding:20px
}
/* buy button  */

.btn-three {
	color: #FFF;
	transition: all 0.5s;
	position: relative;
}
.btn-three::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s;
}
.btn-three:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn-three::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.btn-three:hover::after {
	opacity: 1;
	transform: scale(1,1);
}
